<div class="title text-center col-10 offset-1">
  <h1>Available Chess Games</h1>
</div>
<ul>
  <% Game.available.each do |game| %>
    <li>
      <%= game.name %>
      <%= link_to 'Start Game', game_path(game.id) %>
    </li>
  <% end %>
</ul>

