@import "bootstrap";

.title {
  margin-top: 20px;
}

.chessboard {
  border: 10px solid gray;
  text-align: center;
  width: 50vw;
  height: 50vw;    
  margin: auto;
  max-height: 859px;
  max-width: 859px;
  min-width: 400px;
  min-height: 400px;
  margin-top: 20px;
}
.black {
  background-color: #b58863;
  height: 12.5%;
  width: 12.5%;
  max-height: 100vw;
  max-width: 100vw;
  float: left;
  padding: 0;
  margin: auto;
}
.white {
  background-color: #f0d9b5;
  height: 12.5%;
  width: 12.5%;
  max-height: 100vw;
  max-width: 100vw;
  float: left;
  padding: 0;
  margin: auto;
}
.highlighted-black {
  background-color: #D3B7A1;
  height: 12.5%;
  width: 12.5%;
  max-height: 100vw;
  max-width: 100vw;
  float: left;
  padding: 0;
  margin: auto;
  border: 5px solid #4B4444;
}
.highlighted-white {
  background-color: #F1E8D9;
  height: 12.5%;
  width: 12.5%;
  max-height: 100vw;
  max-width: 100vw;
  float: left;
  padding: 0;
  margin: auto;
  border: 5px solid #4B4444;
}
.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

.alert {
  text-align: center;
}